* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

a{
    text-decoration: none!important;
}
textarea {
    padding: 10px;
}


.main{
    width: 100%;
    background-color: #E5E5E5;
}
.header{
    background-color: #ffffff;
    position: sticky;
}

.header .header-container{
    display: flex;
    height: 91px;
}
.header .header-left {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    
}

.header .header-center {
    width: 50%;
    display: flex;
    align-items: center;
}
.header .header-search {
    width: 100%;
    height: 43px;
    background-color: #f9f9f9;
    display: flex;
    border-radius: 4px;
    margin-left: 10px;
}
.header .header-search .search-icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-search .search-icon img{
    height: 30px;
    width: 30px;
}
.header .header-search .search-input {
    border: none;
    outline: none;
    width: 90%;
    background-color: #f9f9f9;
    padding-left: 20px;
    margin-left: 2px;
}

.header .header-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.header .header-avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.header .list-header {
    display: flex;
    align-items: center;
    padding-top: 10px;

}
.header .list-header .item-header {
    padding:0 14px ;
 }
.header .list-header .item-header a img {
    width: 34px;
    height: 34px;
}
.header .line::after{
    content: '';
    height:100px ;
    left: 4px;
    top: 2px;
    border: 1px solid #eee;
    position: relative;
    margin-left: 6px;
}


/* menu */
.menu{
    background-color: #92a3ab;
    position: sticky;
   
}
.list-menu {
    display: flex;
    height: 40px;
    padding-left: -40px;
}
.list-menu .list-menu-item {
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.list-menu .list-menu-item:first-child{
    border-left: 1px solid #ffffff ;
}
.list-menu-item a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
 }
 .list-menu-item a:hover{
    color: #8ce2ee;
 }

 /* main-content */
 .main-content{
 }
 .main-content .main-left-content {
    height: 400px;
    padding: 10px;
    position: sticky;
    top: 0px;
 }
 .main-content .ml-logo{
    display: flex;
    align-items: center;
 }
  .main-content .ml-logo img {
    width: 40px;
    height: 40px;
    border-radius:50% ;
    margin-right: 10px;
  }

  .main-content .ml-logo span{
    color: #333;
    font-weight: 600;
  }

  .main-content .main-list-category {
    margin-top: 10px;
  }
  .main-content .main-list-category span {
        color: #333;
        }

  .main-content .main-center-content{ 
}
  .main-content .mc-content-create-post {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .main-content .mc-content-create-post .mcccp-top{
    display: flex;
    justify-content: space-between;
    width: 100%;

 }
  .main-content .mc-content-create-post .mcccp-top .img-mcccp-avatar{
    width: 30%;
    display: flex;
    justify-content: center;
  }
 .main-content .mc-content-create-post .mcccp-top .img-mcccp-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
 }
  .main-content .mc-content-create-post .mcccp-top textarea{
    padding: 10px;
    background-color: #eee;
    outline: none;
    border: none;
    border-radius: 4px;
  }



 .main-content .mc-content-create-post .mcccp-bottom {
 display: flex;
 padding-left: 58px;
  }
 .main-content .mc-content-create-post .mcccp-bottom .send-post {
    position: relative;
   }
 
  .main-content .mc-content-create-post .mcccp-bottom .send-post .send-post-content{
    display: flex;
    position: absolute;
    top: 0px
  }
   .main-content .mc-content-create-post .mcccp-bottom .send-post .send-post-content span {
    margin-left: 38px;
    margin-top: 4px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
   }
.main-content .mc-content-create-post .mcccp-bottom .send-post .arrow-send {
   position: absolute;
   top:8px
}
 .main-content .mc-content-post {
    margin-top: 10px;
 }
 .main-content .mc-content-post .mc-content-post-section {
    border-radius: 4px;
    background-color: #ffffff;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
 }
  .main-content .mc-content-post .mc-content-post-section .mcps-top{
    height: 20%;
    display: flex;
    align-items: center;
  }
   .main-content .mc-content-post .mc-content-post-section .mcps-top .mcps-top-avatar {
   }
    .main-content .mc-content-post .mc-content-post-section .mcps-top .mcps-top-avatar img{
            width: 50px;
            height: 50px;
            border-radius: 50% ;
            margin-right: 10px;
          }
   .main-content .mc-content-post .mc-content-post-section .mcps-top .mcps-top-avatar a {
    text-decoration: none;
   }
          .main-content .mc-content-post .mc-content-post-section .mcps-top  .name-user {
            color: #333;
            font-weight: bold;
          }
   .main-content .mc-content-post .mc-content-post-section .mcps-center {
        height: 80%;
        padding: 10px 0;
        }
         .main-content .mc-content-post .mc-content-post-section .mcps-center img {
            max-width: 100%;
         }
    .main-content .mc-content-post .mc-content-post-section .mcps-end {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;

    }
        .main-content .mc-content-post .mc-content-post-section .mcps-end .mcps-icon {
            margin: 0 4px;
        }
    .main-content .mc-content-post .mc-content-post-section .mcps-end .mcps-icon img{
       width: 30px;
       height: 30px;
    }

        .main-content .mc-content-post .mc-content-post-section .mcps-end .mcps-icon .icon-span  {
            color:#333;
            font-weight: 500;
        }
       .main-content .mc-content-post .mc-content-post-section .mcps-end .mcps-icon .icon-span:hover {
        color: #2599a9;
        }

                
    


   .main-content .main-right-content {

}
    .main-content .main-right-content .main-right-news{
        background-color: #fff;
        width: 100%;
        border-radius: 4px;
        padding: 10px;

     }
    .main-right-news-center .list-news{
    }
     .main-right-news-center .list-news .list-news-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 ;
        border-bottom: 1px solid #ccc;
        height: 90px;
        color: #333;
     }
    .main-right-news-center .list-news .list-news-item .l-n-i-main{
            margin-left: 10px;
    }
    .main-right-news-center .list-news .list-news-item .l-n-i-main .lni-by{
    font-size: 14px;
    display: flex;
    justify-content: end;
    }
    .main-right-news-center .list-news .list-news-item:last-child{
        padding-bottom: 0;
        border-bottom: none;
     }
    .main-right-news-center .list-news .list-news-item a h6{
        color:#333;
    }
    .main-right-news-center .list-news .list-news-item a h6:hover{
        color: #2599a9;
    }
    .main-right-news-footer{
        display: flex;
        align-items: center;
            
    }
.main-right-news-footer a{
 color: #333;
 font-size: 16px;
}

.img-bacho{
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.img-bacho img{
    width: 100%;
    object-fit: cover;
}


